.container_customer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formComponent_customer {
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 2rem 3em;
  text-align: center;
}

.form_container_customer {
  display: grid;
  gap: 2em;
}

.form_group_customer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  padding: 4%;
  border-radius: 5px;
  --color: #5757577e;
}

.form_input_customer {
  width: 100%;
  background: none;
  color: #5c6b73;
  font-size: 1.3rem;
  margin: 0 8px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.form_label_customer {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  font-size: 1.1em;
}

.form_input_customer:focus + .form_label_customer,
.form_input_customer:not(:placeholder-shown) + .form_label_customer {
  transform: translateY(-38px) scale(0.7);
  transform-origin: top;
  color: var(--primary);
  font-size: 1.4rem;
}

.form_submit_customer {
  background: var(--primary);
  color: #fff;
  text-align: center;
  width: 16%;
  height: 6vh;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}

.form_submit:hover {
  cursor: pointer;
}

.warning_customer {
  margin-top: 4px;
  padding: 0;
  color: red;
}

@media (max-width: 500px) {
  .form_container_customer {
    display: grid;
    gap: 2em;
  }

  .formComponent_customer {
    margin: auto;
    width: 100%;
    max-width: 400px;
    margin-top: 8px;
    padding: 1rem 1.5em;
    text-align: center;
  }
  .formComponent {
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 1rem 1em;
    border-radius: 10px;

    text-align: center;
  }
  .form_group_customer {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    --color: #5757577e;
  }
  .form_submit_customer {
    background: var(--primary);
    color: #fff;
    text-align: center;
    width: 75%;
    min-width: 88%;
    height: 8vh;
    font-family: "Roboto", sans-serif;
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
  }

  .form_input_customer:focus + .form_label_customer,
  .form_input_customer:not(:placeholder-shown) + .form_label_customer {
    transform: translateY(-22px) scale(0.7);
    transform-origin: top;
    color: var(--primary);
    font-size: 1.4rem;
  }
}

/* Tablet */

@media (max-width: 850px) {
  .form_submit_customer {
    background: var(--primary);
    color: #fff;
    text-align: center;
    width: 38%;
    height: 7vh;
    font-family: "Roboto", sans-serif;
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
  }
}
